.clearfix:before, .clearfix:after {

	content: " ";

	display: table;

}

.clearfix:after {

	clear: both;

}

.clearfix {

	*zoom: 1;

}
.dropbtn {
  border: none;
  cursor: pointer;
  padding-top: 10%;
  margin-left: 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 260px;
  z-index: 2;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.navbar{
  font-size: 1.5em;
}
.bgg{
  background-color: none;
}
.navbar-brand{
  font-size: 2em;
}
.nav-item{
  margin-left: 15px;
}

.wrapper{
  width: calc(100% - 20px);
  height: auto;
  margin-left: 10px ;
  z-index: 1;
}
.miniDiscription{
  margin-top: 40px;
  font-size: 1.3em;
}
.DiscriptionImg{
  padding-left: 20px ;
  display: inline-block;
}
.disc{
  float: left;
  width: 650px;
  height: 760px;
  margin-left: 20px;
  margin-top: 30px;
}
	
.slider {
    position: relative;
    overflow: hidden;
    width: 650px;
    height: 500px;
    float: right;
    margin-top: 50px;
    margin-left: 60px;
}
 
.slider-img {
    position: absolute;
    transition: all 0.7s;
}
 
.slider-img-prev {
    transform: translateX(-100%);
}
 
.slider-img-next {
    transform: translateX(100%);
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.wrapperContact{
  font-family: "Inter", sans-serif;
  width: 30%;
  float: right;
  margin-right: 20%;
  margin-top: 50px;  
}
textarea {
  padding: 20px;
  border-radius: 3px;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137); */
  margin-bottom: 20px;
  border: 1px solid lightgray;
  /* border: none; */
  background: #fff;
  font-size: 16px;
  color: rgb(0, 0, 32);
  outline: none;
}
.wrapperContact input{
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  background: #fff;
  font-size: 16px;
  color: rgb(0, 0, 32);
  outline: none;
  height: 5px;
}
.wrapperContact button{
  width: 200px;
  height: 30px;
  margin-left: 10%;
  background-color: rgb(16, 152, 214);
}
.Caller{
  width: 300px;
  float: left;
  margin-top: 50px;
  font-size: 1.3em;
}
.titleCall{
  width: 100%;
  text-align: center;
}
.nodec{
  text-decoration: none;
}
.AgeOfAncient{
  text-align: center;
}
.TheNote{
  margin-top: 40px;
}
.story{
  font-size: 1.3em;
}
.WhatIsGoingOnNow {
  text-align: center;
  padding-top: 30px ;
}
.mt{
  margin-top: 70px;
}
.fs1{
  font-size: 1.3em;
}
.containerMobs{
  width: auto;
}
.containerMobs h3{
  text-align: center;
}
.containerMobsOne{
  border: solid silver 2px;
  height: 320px;
  width: 200px;
  display: inline-block;
  margin-left: 3%;
  margin-top: 10px;
  transition: 0.5s;
  background: white;
  box-shadow: 0 3px 10px #ccc;
  transform: rotate(5deg);
  transition: all 0.7s ease;
  padding: 5px;
  z-index: 100;
  margin-top: 30px;
}
.containerMobsOne:hover {
  transform: rotate(-1deg);
  box-shadow: 0 2px 3px #666;
}
.containerMobs h3{
  margin-top: 40px;
}
.alert{
  width: 500px;
  height: 350px;
  float: right;
}
.btn-primary{
  border-radius: 6px;
}
.rules{
  margin-left: 30px;
}
.rules ul{
  margin-left: 20px;  
}
.triangle{
  width: 300px;
  height: 340px;
  float: left;
  margin-left: 15%;
}
.WhoAreYou{
  display: block;
  width: 50%;
  float: left;
}
.rulesAndOrder h4{
    margin-top: 30px;
}
.kindom h4{  
  margin-left: 5%;
  
}
.Void {
  margin-left: 3%;
}
.Void p{
  margin-left: 5%;
}
.Roborn{
  margin-left: 3%;
}
.Roborn p{
  margin-left: 5%;
}
.lighters{
  margin-left: 3%;
}
.lighters p{
  margin-left: 5%;
}
/* bg img */
.coridorBG{
  background-image: url(./components/Features/img/coridor.gif);
  color: white;
  background-size: cover;
}
.mainBG{
  background-image: url(./components/Main/img/BGI.gif);
}