@font-face {
  font-family: 'Old';
  src: url("./components/Else/KirangHaerang-Regular.ttf") format("truetype"); 
  font-weight: 500; 
  font-style: normal; 
}
.clearfix:before, .clearfix:after {

	content: " ";

	display: table;

}

.clearfix:after {

	clear: both;

}

.clearfix {

	*zoom: 1;

}
.dropbtn {
  border: none;
  cursor: pointer;
  padding-top: 10%;
  margin-left: 15px;
  background-color: #fff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 260px;
  z-index: 2;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.navbar{
  font-size: 1.5em;
  z-index: 3;
}
.navbar-brand{
  font-size: 2em;
}
.nav-item{
  margin-left: 15px;
}

.wrapper{
  width: calc(100% - 20px);
  height: auto;
  margin-left: 10px ;
  z-index: 1;
}
.miniDiscription{
  margin-top: 40px;
  font-size: 1.3em;
}
.DiscriptionImg{
  padding-left: 20px ;
  display: inline-block;
}
.disc{
  float: left;
  width: 650px;
  height: 760px;
  margin-left: 20px;
  margin-top: 30px;
}
	
.slider {
    position: relative;
    overflow: hidden;
    width: 650px;
    height: 500px;
    float: right;
    margin-top: 50px;
    margin-left: 60px;
}
 
.slider-img {
    position: absolute;
    transition: all 0.7s;
}
 
.slider-img-prev {
    transform: translateX(-100%);
}
 
.slider-img-next {
    transform: translateX(100%);
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.center{
  margin-left: 25%;
  margin-right: 25%;
}
.wrapperContact{
  font-family: "Inter", sans-serif;
  float: right;
  width: auto;

}
textarea {
  padding: 20px;
  border-radius: 3px;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137); */
  margin-bottom: 20px;
  border: 1px solid lightgray;
  /* border: none; */
  background: #fff;
  font-size: 16px;
  color: rgb(0, 0, 32);
  outline: none;
}
.wrapperContact input{
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  background: #fff;
  font-size: 16px;
  color: rgb(0, 0, 32);
  outline: none;
  height: 5px;
}
.wrapperContact button{
  width: 200px;
  height: 30px;
  margin-left: 10%;
  background-color: rgb(16, 152, 214);
}
.Caller{
  float: left;
  width: 200px;
}
.titleCall{
  width: 100%;
  text-align: center;
}
.nodec{
  text-decoration: none;
}
.AgeOfAncient{
  text-align: center;
  margin-top: 50px;
}
.TheNote{
  margin-top: 40px;
}
.story{
  font-size: 1.3em;
}
.WhatIsGoingOnNow {
  text-align: center;
  padding-top: 30px ;
}
.mt{
  margin-top: 70px;
}
.fs1{
  font-size: 1.3em;
}
.containerMobs{
  width: auto;
}
.containerMobs h3{
  text-align: center;
}
.containerMobsOne{
  border: solid silver 2px;
  height: 320px;
  width: 200px;
  display: inline-block;
  margin-left: 3%;
  margin-top: 10px;
  transition: 0.5s;
  background: white;
  box-shadow: 0 3px 10px #ccc;
  transform: rotate(5deg);
  transition: all 0.7s ease;
  padding: 5px;
  z-index: 100;
  margin-top: 30px;
  opacity: 0.7;
}
.containerMobsOne:hover {
  transform: rotate(-1deg) scale(1.2) ;
  box-shadow: 0 2px 3px #666;
  opacity: 1;
}
.containerMobs h3{
  margin-top: 40px;
}
.alert{
  width: auto;
  height: auto;
}
.sideAlert{
  float: none;
}
.btn-primary{
  border-radius: 6px;
}
.rules{
  margin-left: 30px;
}
.rules ul{
  margin-left: 20px;  
}
.triangle{
  width: 300px;
  height: 340px;
  float: left;
  margin-left: 15%;
}
.WhoAreYou{
  display: block;
  width: 50%;
  float: left;
}
.rulesAndOrder h4{
    margin-top: 30px;
}
.kindom h4{  
  margin-left: 5%;
  
}
.Void {
  margin-left: 3%;
}
.Void p{
  margin-left: 5%;
}
.Roborn{
  margin-left: 3%;
}
.Roborn p{
  margin-left: 5%;
}
.lighters{
  margin-left: 3%;
}
.lighters p{
  margin-left: 5%;
}
/* bg img */

.coridorBG{
  background-image: url(./components/Features/img/coridor.gif);
  color: white;
  background-size: cover;
}
.mainBG{
  background-image: url(./components/Main/img/mainBG.gif);
  background-size: contain;
}
.paperBG{
  background-image: url(./components/Else/img/Old_paper4.png);
  background-size: 500px 100%;
  background-repeat: no-repeat;
}
.BGelse{
  background-image: url(./components/Else/img/BGelse.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.KindomBG{
  background-image: url(./components/Else/img/Old_paper4.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.SvitokBG{
  background-image: url(./components/Else/img/svitok.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.mainPage{
  color: white;
}
.wrapperMassage{
  width: 60%;
}
.wrapperEmail{
  width: 60%;
}
.wrapperKindom{
  font-family: "Inter", sans-serif;
  width: 30%;
  float: left;
  margin-left: 10%;
  color: black;
  height: 600px;
}
.kindomWhant{
  margin-top: 40px;
  margin-left: 15%;
}
.discordWidg{
  margin-left: 5%;
  margin-top: 30px;
  float: left;
  padding-bottom: 20px;
}
.news{
  width: 500px;
  height: 500px;
  text-align: center;
  float: left;
  font-size: 1.2em;
  margin-top: 50px;
  transform: translateX(250%) rotate(20deg);
  transition: 1s;
  position: absolute;
  cursor: pointer;
  z-index: 2;
} 
.news:hover{
  transform: translateX(200%) rotate(-1deg);
  transition: 1s ;
}
.news div{
  margin-top: 20%;
  width: calc(100% - 10%);
  margin-left: 5%;
}
.sidebarblack{
  width: calc(100% - 20px);
  height: 150px;
  position: absolute;
  transform: translateY(-140px);
  z-index: 1;
}
.wrapperFoot{
  width: 100%;
  height: 150px;
  background-color: rgb(41, 41, 41);
  margin-top: 5%;
}
.contacts{
  float: left;
  width: 16%;
 height: 150px;
 margin-left: 01%;
 color: white;
}
.double{
  width: 30%;
}
.double{
  margin-top: 0px;
}
.double h3{
  margin-top: 50px;
}
.contacts ul{
  margin-top: 5px;
  font-size: 1.1em;
}
.changeBG{
  border: 1px solid black;
  margin-top: 10px;
  position: absolute;
}
.changeColor{
  position: absolute;
  margin-top: 80px;
}
.posAB{
  position: absolute;
}
.adaptiveWrapper{
  display: none;
}
.ADbutton{
  display: none;
}
.erreguler{
  display: block !important;
}
.conteinerThanks{
  border: solid silver 2px;
  width: 100%;
  height: 100%;
}
.thank{
  width: 500px;
  height: 600px;
  float: left;
  margin-left: 70px;
  text-align: center;
  color: wheat;
}
.context{
  width: 400px;
  margin-left: 50px;
  margin-top: 100px;
}
@media screen and (max-width: 1280px) {
  .wrapperContact{
    background-image: none;
    color: wheat;
    margin: 0px;
    padding: 0px;
  }
}
@media screen and (max-width: 480px){
  .ADbutton{
    display: block;
  }
  .erreguler{
    display: none;
  }
  .wrapper{
    display: none;
  }
  .mainBG{
    background-size: contain;
  }
  .adaptiveWrapper{
    display: block;
    width: auto;
    height: auto;
  }
  .ADimgDisc{
    margin-left: 20px;
    transform: rotate(10deg);
    box-shadow: 0px 0px 40px #666;
    margin-top: 40px;
  }
  .ADcall{
    margin-top: 40px;
  }
  .ADwrapperContact{
    width: auto;
    height: auto;
    float: none;
    margin-left: 100px;
  }
  .changeColor{
    width: 100px;
  }
  .changeBG{
    width: 120px;
  }
  .containerMobsOne{
    opacity: 1;
  }
  .thank{
    width: 450px;
    height: 500px;
    margin-top: 200px;
    margin-left: 0px;
  }

} 